HOST=0.0.0.0
PORT=1337
NODE_ENV=production

APP_KEYS=CHANGE-ME
API_TOKEN_SALT=CHANGE-ME
ADMIN_JWT_SECRET=CHANGE-ME
TRANSFER_TOKEN_SALT=CHANGE-ME
JWT_SECRET=CHANGE-ME

# Database (Railway PostgreSQL)
# Em produção (Railway): usar DATABASE_URL (interna)
# Localmente: usar DATABASE_PUBLIC_URL do painel do Railway
DATABASE_URL=CHANGE-ME

# Cloudinary
CLOUDINARY_NAME=CHANGE-ME
CLOUDINARY_KEY=CHANGE-ME
CLOUDINARY_SECRET=CHANGE-ME
